---
import Layout from "@/layouts/Layout.astro";
import Badge from "@/components/Badge.astro";
import SocialPill from "@/components/SocialPill.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import GithubIcon from "@/components/icons/GitHub.astro";
import MailIcon from "@/components/icons/Mail.astro";
import BriefcaseIcon from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Projects from "@/components/Projects.astro";
import Hero from "@/components/Hero.astro";

---

<Layout title="Porfolio de Diego - Analista automatización de procesos | Desarrollo web"
description="Contrata a Diego para que te ayude automatizar tareas.">
  <main class="px-4">
    <SectionContainer class = "py-20 md:pb-32">
      <Hero />
    </SectionContainer>
    
    <!-- Experiencia laboral -->
    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <!-- proyectos -->
    <SectionContainer id="proyectos">
    <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
      <CodeIcon class="size-7" />
      Proyectos
    </h2>
    <Projects />
  </SectionContainer>
  </main>
</Layout>
