
<article class="mb-8 text-gray-700 dark:text-white">
    <p class="mb-3">
        Me llamo Diego y comencé mi camino en tecnología impulsado por la curiosidad y la necesidad de entender cómo funcionan las cosas. Hoy, tras varios años en el sector, he convertido esa curiosidad en soluciones reales.
    </p>
    <p class="mb-3">
        En proyectos como el de Tecnología Comercial para Inditex, desarrollé automatizaciones que mejoraron procesos clave en el entorno eCommerce, aportando eficiencia y facilitando el trabajo de múltiples equipos. También he trabajado en iniciativas relacionadas con desarrollo web y marketing digital, conectando lo técnico con lo estratégico.
    </p>
    <p class="mb-3">
        Mi objetivo es seguir creciendo en entornos dinámicos, aportando valor con ideas y tecnología que resuelvan problemas reales. Me motiva aprender, mejorar y trabajar con personas que compartan esa misma energía.
    </p>
   
</article>

