---
import ExperienceItem from "../components/ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Mar. 2025 – Actualmente...",
        title: "Desarrollador Web Freelance - Panda4Events",
        description: "Diseñé e implementé una web en WordPress desde cero, colaborando estrechamente con el cliente para alinear diseño, estructura y funcionalidades con sus objetivos. Utilicé Elementor para construir una solución modular, responsive y escalable, optimizando la experiencia de usuario.También realicé ajustes, correcciones y mantenimiento general para mejorar el rendimiento y garantizar la estabilidad del sitio." //(en cada experiencia añadir logros)
    },
    {
        date: "Ene. 2024 – Feb. 2025",
        title: "Especialista en eCommerce y Marketing de Contenidos (Dropshipping Orgánico)",
        description: "Investigué productos con potencial viral según tendencias y comportamiento del algoritmo en TikTok e Instagram, optimizando contenido para maximizar alcance y engagement. Creé y edité vídeos virales que impulsaron tráfico orgánico y conversión en tiendas Shopify. Además, gestioné el e-commerce de forma integral: atención al cliente, pedidos y optimización de la experiencia de usuario."
    },
    {
        date: "Ene. 2021 – Dic. 2023",
        title: "Analista de Automatización de Procesos - Viewnext (Grupo IBM)",
        description: "En el proyecto Inditex (Zara.com), formé parte del equipo N2 desarrollando automatizaciones en Python y Groovy que optimizaron procesos internos y redujeron tareas manuales. Resolví incidencias complejas de forma proactiva mediante trazas, SQL, APIs y scripts personalizados. Además, propuse mejoras técnicas y coordiné soluciones con otros equipos para aumentar la eficiencia operativa."
    }
    
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3"> 
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience}/>
            </li>
        ))
    }       
</ol>

