---
const personalImgAlt = "Diego Pena photo";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import GithubIcon from "@/components/icons/GitHub.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-4xl">
  <div class="flex gap-4 md:mt-16 mb-4">
    <img
      class="rounded-full shadow-lg size-25"
      src="/src/assets/diegopefer-photo.png"
      alt={personalImgAlt}
    />
    <Badge>Disponible para trabajar</Badge>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl lg:text-7xl dark:text-white"
  >
    Hola, soy <span class="text-purple-600" style="opacity: 1; transform: none;"
      >Diego Pena</span
    >
  </h1>
  <h2 class="mt-6 text-xl lg:text-3xl sm:text-2xl text-wrap">
    Analista automatización de procesos | Desarrollador web
  </h2>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://www.linkedin.com/in/diegopenaferreira/">
      <LinkedInIcon class="size-5 md:size-6" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/diegopefer">
      <GithubIcon class="size-5 md:size-6" />
      GitHub
    </SocialPill>
    <SocialPill href="mailto:diegopenfer@gmail.com">
      <MailIcon class="size-5 md:size-6" />
      Contáctame
    </SocialPill>
  </nav>
</div>
