<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-x-2 py-1 px-2 md:py-2 md:px-4 rounded-full 
  border dark:border-white/10 border-gray-300
  text-gray-900 dark:text-white text-s md:text-base 
  bg-white/5 
  hover:scale-110 dark:hover:bg-white/10 hover:bg-black/10 transition"
>
  <slot />
</a>

